bin
obj
.vs
*.suo
*.jfm
*.dbml
*.user
*.csproj.user
*.xproj.user
Thumbs.db
TestResults
TestResults.xml
testimpactdata.sdf
node_modules
bower
dist
tests
coverage
typings
_test
_lighthouse
project.lock.json
.vscode
.idea
Log/*.log
npm-debug.log
**/Web.config
**/Web.Debug.*
**/Web.Release.*.config
PortalWebApp/packages/**
!PortalWebApp/PortalWebApp/docs/legacyapi/web.config
!PortalWebApp/PortalWebApp/docs/evergreenapi/web.config
PortalWebApp/PortalWebApp/js/client/*.js
PortalWebApp/PortalWebApp/App_Data/Licenses/*
!PortalWebApp/PortalWebApp/App_Data/Licenses/Placeholder.txt
PortalWebApp/PortalWebApp/Config/*
!PortalWebApp/PortalWebApp/Config/Placeholder.txt
PortalWebApp/PortalWebApp/TempFiles/*
!PortalWebApp/PortalWebApp/TempFiles/Placeholder.txt
PortalWebApp/PortalWebApp/Manage/TempFiles/*
!PortalWebApp/PortalWebApp/Manage/TempFiles/Placeholder.txt
PortalWebApp/PortalWebApp/Queues/History/*
!PortalWebApp/PortalWebApp/Queues/History/Placeholder.txt
PortalWebApp/PortalWebApp/Queues/Inbox/*
!PortalWebApp/PortalWebApp/Queues/Inbox/Placeholder.txt
Dashworks.Junior.Api/EvergreenApi/Log/*.log
Dashworks.Junior.UI/UI/src/app/**/*.html
Dashworks.Junior.UI/UI/src/index.html
Dashworks.Junior.UI/UI/src/environments/environment.devapi.ts
StyleCop.Cache
Local.pubxml
Dashworks.Junior.UI/UI/src/assets/i18n
Dashworks.Junior.UI/UI/.scannerwork
Shared Files/Dashworks.MSBuildTasks
Shared Files/dwtsrt
Shared Files/Trirand
Shared Files/wget
appsettings.Development.json
launchSettings.json
*.GeneratedMSBuildEditorConfig.editorconfig
LastBuild.log
